<span *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}
</span>
<span *ngIf="successMessage" class="alert alert-success">{{successMessage}}
<a [routerLink]="['/candidate-home/candidate-skill-home', {id : candidateID, name: candidateName}]" 
[queryParams]="" 
routerLinkActive="active"> -- Return to Candidate Skills</a>
</span>
<br>

<div class="row" style="background-color:lightgray" >
    <div class="col-md-12">
        <form class="form col-md-4" [hidden]="submitted">
            <h3>Candidate Skill Delete</h3>
            <p>Are you sure you want to delete candidate skill {{candidateSkillName}}?</p> 
        </form>
        <br>
        <div class="container" [hidden]="submitted">
           <button class="btn btn-primary" (click)="delCandidateSkill()">Confirm</button>
        </div>
    </div>
</div>